@font-face {
  font-family:"Montserrat";
  src:url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Medium.ttf?v=1676015810') format("ttf"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Medium.woff?v=1676015809') format("woff"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Medium.otf?v=1676012731') format("otf");

  font-weight: 600
}
@font-face {
  font-family:"Montserrat";
  src:url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Bold.woff?v=1676015809') format("woff"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Bold.ttf?v=1676015809') format("ttf"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Bold.otf?v=1676012731') format("otf");
  font-weight: 700
}
@font-face {
  font-family:"Montserrat";
  src:url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-ExtraBold.otf?v=1676019774') format("otf"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-ExtraBold.woff2?v=1676019930') format("woff2"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-ExtraBold.ttf?v=1676019774') format("ttf");
  font-weight: 800
}
@font-face {
  font-family:"Montserrat";
  src:url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Black.otf?v=1676012733') format("otf"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Black.woff?v=1676015810') format("woff"),
  url('https://cdn.shopify.com/s/files/1/0067/6950/8415/files/MontserratAlt1-Black.ttf?v=1676015810') format("ttf");
  font-weight: 900
}

.s2-line-wrapper{
  @apply absolute flex items-start;
}

.s2-line-p {
  @apply text-center -translate-y-1/2 px-1;
}

.s2-line-em {
  @apply w-full block border-t-[1px] border-viGreen-light1;
}

.s2-ball{
  @apply md:after:w-6 md:after:h-6 after:w-4 after:h-4 after:bg-viGreen-light1 after:rounded-full after:absolute 
}
@media (min-width: 768px) {
  .md\:s2-ball {
    @apply md:after:w-6 md:after:h-6 after:w-4 after:h-4 after:bg-viGreen-light1 after:rounded-full after:absolute 
  }
}

.s2-mask-2{
  -webkit-mask-image: url('https://cdn.shopifycdn.net/s/files/1/0067/6950/8415/files/s2-2.png?v=1676344182');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('https://cdn.shopifycdn.net/s/files/1/0067/6950/8415/files/s2-2.png?v=1676344182');
  mask-size: contain;
  mask-repeat: no-repeat;
}

.s7-mask{
  -webkit-mask-image: url('https://cdn.shopifycdn.net/s/files/1/0067/6950/8415/files/s7_bg.png?v=1676513159');
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-image: url('https://cdn.shopifycdn.net/s/files/1/0067/6950/8415/files/s7_bg.png?v=1676513159');
  mask-size: contain;
  mask-repeat: no-repeat;
}
.s5-biggest-bg{
  background: linear-gradient(-3deg, #000, #000 20%, #3e9508, #d9f7c6, #40a700, #000 80%, #000);
}

@keyframes s7-ripple {
  0% { transform: scale(1); }
  50% { transform: scale(6); opacity:1; }
  100% { transform: scale(12); opacity:0; }
}




@tailwind base;
@tailwind components;
@tailwind utilities;